.body,
html {
  text-align: center;
  margin: auto;
  font-family: "stabillo";
  color: whitesmoke;
  background-size: cover;
  position: relative;
  font-size: 30px;

}

body {
  background-image: url("../src/assets/githb.jpg");
}

@import "~bootstrap/dist/css/bootstrap.css"
